# example netlify.toml
[build]
  command = "hugo -D -F --gc --minify -d public"
  functions = "netlify/functions"
  publish = "./public/"

[build.environment]
  HUGO_VERSION = "0.148.2"
  HUGO_ENABLEGITINFO = "true"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
  force = false

[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = '''
    max-age=63072000;
    includeSubDomains;
    preload'''
    X-Frame-Options = "DENY"
    Content-Security-Policy = "frame-ancestors 'none'"
