@import "_variables";
@import "_theme-overrides";
@import "page";
@import "post";

body,
h1,
h2,
h3,
h4 {
  color: var(--primary-text-color) !important;
}

#footer-logo {
  margin-bottom: 5px;
  max-width: 100%;
}

#footer-logo-link {
  max-width: 320px;
}

.btn-large {
  font-size: 18px;
}

.logo-container {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// @media screen and (max-width: 991.98px) {
//   #divviupNavbar {
//     box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.2);
//   }
// }

#home-hero {
  .btn {
    width: 320px;
    position: relative;

    i {
      position: absolute;
      left: 18px;
      top: 16px;
    }
  }
}

.highlight {
  background: #e8fcf8;
  text-align: center;
  padding: 20px 10px 10px;
  margin: 10px 0 20px;

  h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 20px;
  }
}

#copyright-line {
  background-color: #292c37;
  background-repeat: repeat;
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-floating {
  z-index: 1030;
}

.blog-date {
  font-size: 15px;
}

.get-involved-item {
  margin-bottom: 50px;

  form {
    button {
      display: block;
      margin-top: 10px;
      background: var(--teal-color) !important;
      border-color: var(--teal-color) !important;
    }
  }
}

header.cs-header {
  background-color: var(--primary-background-color);
}

body {
  background-color: var(--primary-background-color);
}

.no-br {
  white-space: nowrap;
}

a[name] {
  scroll-padding-top: 50px;
}

.navbar-brand {
  padding-top: 4px;
}



.text-muted a {
  color: #787a80 !important;
  text-decoration-color: #787a80 !important;

  &:hover {
    color: #fff !important;
    text-decoration-color: var(--teal-color) !important;
  }
}

.email-field-container {
  // max-width: 400px;

  input {
    width: 400px;
    max-width: 100%;
  }
}



video::-webkit-media-controls-panel {
  background-image: none !important;
}

.tpl-page .cs-page-wrapper, .tpl-post {
  #promo_announcement {
    margin-top: 0;
  }
}
#promo_announcement {
  display: block;
  padding: 10px;
  background-color: var(--teal-color);
  color: #fff !important;
  text-decoration-color: #fff;
  text-decoration: none;

  &:hover {
    background-color: darken($primary_button_background_color, 5%) !important;
  }
  margin-top: 90px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width:575.98px) {
  #promo_announcement {
    margin-top: 66px;
  }
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.use-case-image  {
  max-width: 160px;
}

@media screen and (max-width: 500px) {
  .use-case-image {
    max-width: 100px;
  }
}

.use-case-image-column {
  width: 160px;
  flex-shrink: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .use-case-image-column {
    width: 100px;
  }
}

.use-cases-columns {
  align-items: flex-start;
  flex-direction: column;

}

.use-cases-card a,
.use-cases-card h5,
.use-cases-card h4 {
  color: var(--primary-button-background-color)!important;
}


.use-cases-card {
  background: white;
  width: 100%;
  color: black;

  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-accent-color);
}

@media screen and (min-width: 768px) {
  .use-cases-card {
    width: 50%;
  }
  .use-cases-columns {
    flex-direction: row;
  }
}

.text-xs {
  font-size: 0.75rem;
}