// Small
$readable_max_width: 560px;
$readable_font_size: 16px;
$readable_line_height: 24px;
$readable_page_title_font: 41px;
$readable_page_title_line_height: 1.4;
// Medium
$readable_max_width: 680px;
$readable_font_size: 20px;
$readable_line_height: 34px;
$readable_page_title_font: 52px;
$readable_page_title_line_height: 1.3;
// $readable_max_width: 680px;
// $readable_font_size: 20px;
// $readable_line_height: 34px;


.tpl-post {
  .cs-page-wrapper {
    margin-top: 100px;
  }

  h1,p {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  h1 {
    text-align: left;
    max-width: $readable_max_width;
    margin-left: auto;
    margin-right: auto;
    font-size: $readable_page_title_font;
    line-height: $readable_page_title_line_height;
  }
  p,img {
    max-width: $readable_max_width;
    font-size: $readable_font_size;
    margin-left: auto;
    margin-right: auto;
    // line-height: $readable_line_height;
  }

  .partial-hero {
    & > .container { /* Reset padding to make page title left aligned on posts */
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/* Ideal text width: 16px font size, line height 27, content width 544 */
/* Ideal text width: 20px font size, line height 34, content width 680 */