// Small
// $readable_max_width: 560px;
// $readable_font_size: 16px;
// $readable_line_height: 24px;
// $readable_page_title_font: 41px;
// $readable_page_title_line_height: 1.4;
// Medium
$readable_max_width: 680px;
$readable_font_size: 20px;
$readable_line_height: 34px;
$readable_page_title_line_height: 1.3;
$readable_page_title_font: 52px;

.page__blog,
.page__contact {
  h1 {
    text-align: center !important;
  }
}

@media screen and (max-width: 767.98px) {
  .tpl-post .cs-page-wrapper {
    margin-top: 70px !important; /* affects visual appearance of the blue nav on a page with white bg */
  }

  .tpl-post .partial-hero {
    margin-top: 20px !important;
  }
}

.tpl-post {
  .partial-hero {
    margin-top: 40px;
    & > .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  footer {
    // border-top: 1px solid var(--teal-color);
  }
  .cs-page-wrapper {
    margin-top: 100px;
  }

  .author-bg {
    color: var(--teal-color);
    margin-bottom: 25px;
    font-weight: 700;
    display: inline-block;
  }

  .blog_list_item__date {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: var(--teal-color) !important;
  }

  #container-blog {
    background-color: #fff;

    color: var(--blue-color) !important;
    h1,h2,h3,a {

      color: var(--blue-color) !important;
    }

  }

  h1 {
    text-align: left;
    max-width: $readable_max_width;
    margin-left: auto;
    margin-right: auto;

    color: #fff !important;
    // font-size: $readable_page_title_font;
    // line-height: $readable_page_title_line_height;
    // text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  .article_content,
  .blog_list {

    h1,p {
      // text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }


    img {
      max-width: 100%;
    }
    p:has(+ img) {
      max-width: $readable_max_width;
      margin-left: auto;
      margin-right: auto;
    }
    .blog_list_item,h2,h3,h4,h5,h6,p {
      max-width: $readable_max_width;
      margin-left: auto;
      margin-right: auto;

    }

    li,p {
      font-size: $readable_font_size;
      line-height: $readable_line_height;
    }

    ul {
      margin-bottom: $readable_line_height;
    }

    .partial-hero {
      & > .container { /* Reset padding to make page title left aligned on posts */
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

/* Ideal text width: 16px font size, line height 27, content width 544 */
/* Ideal text width: 20px font size, line height 34, content width 680 */
.tpl-post #container-blog {

  .force-black {
    h2,a,p {
      color: #000 !important;
    }
  }
  .force-gray {
    h2,a,p {
      color: #333 !important;
    }
  }
}

.two-image-row {
    max-width: 680px;
    margin: 0 auto 1.5em;
    align-items: center;
    padding: 0px;
}


  .quote-text p {
    font-size: 24px !important;
    line-height: 36px !important;
    font-style: italic;
    font-weight: bold;
    color: #000;
}

blockquote.blockquote {
    padding: 0;
    max-width: 680px;
    margin: 0 auto 1.5em;
}

blockquote.blockquote::before {
    left: -45px;
}

.blockquote-footer {
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 767.98px) {
    blockquote.blockquote {
        padding-left: 30px;
        padding-right: 30px;
    }
    blockquote.blockquote::before {
        left: 0px;
        top: 5px;
        transform: scale(.75);
    }
}