<section class="invert-teal-container default-padding py-5 my-5">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h3 class="h6 mb-2 text-uppercase text-white">
          BUILT UPON AN EMERGING STANDARD
        </h3>
        <h2 class="h1 mb-4 text-white">
          Always Open Source
        </h2>
        <p class="mb-4 mb-sm-0">
          Nearly every component of Divvi Up is open source and available on <a href="https://github.com/divviup">GitHub</a>. Further, the core protocol, <a href="https://datatracker.ietf.org/doc/draft-ietf-ppm-dap/">Distributed Aggregation Protocol (DAP)</a>, is on a path to become an Internet Engineering Task Force (IETF) standard co-developed by Internet Security Research Group (ISRG, best known known for Let's Encrypt), Cloudflare, and Mozilla.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 self-center">
        <div class="isrg-card">
          <div class="flex flex-row">
            <div>
              <h5 class="h6 text-white mb-0">ISRG</h5>
              <p class="mb-0"> Divvi Up is built and operated by the <a href="https://abetterinternet.org">Internet Security Research Group</a>, the same nonprofit behind <a href="https://letsencrypt.org">Let's Encrypt</a>, the world's largest Certificate Authority providing free TLS certificates to 363 million websites.</p>
            </div>
            <div class="use-case-image-column">
              <img src="/images/Brand Assets/isrg-logo-standard.png" alt="ISRG Logo" class="use-case-image img-fluid" />
            </div>
          </div>
        </div>
    </div>
  </div>
</section>








