<section class="pt-lg-3 pb-4 text-white default-padding">
    <div class="container mb-lg-5 mb-4">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="h2 text-white">Contact Our Team</h2>

          <p>
            If you have a use case for Divvi Up contact our team to learn more about a paid pilot or pricing on our production environments. </p>
            <p>Email <a href="mailto:contact@divviup.org">contact@divviup.org</a> to learn more.</p>
        </div>

        </div>
      </div>
    </div>
  </section>
