<section class="pt-lg-3 pb-4 text-white default-padding">
  <div class="container mb-lg-6 mb-4">
    <div class="row">
      <div class="col-sm-8">
        <p class="ml-0 text-white display-5 mb-lg-5">Get started with Divvi Up for free in under 5 minutes with Docker and a command line.</p>
        <a class="btn btn-primary" href="https://docs.divviup.org/"
            >Get Started</a
          >
      </div>
    </div>
  </div>
  <div class="container mb-lg-5 mb-4">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="h6 mb-1 text-uppercase text-white">
          Enforcing Privacy at Internet Scale
        </h3>
        <h2 class="h2 text-white">Use Cases</h2>
        <h4 class="h4 mb-0">Metrics</h4>
        <p>Divvi Up can preserve user privacy while also collecting the application metrics needed to make product decisions.</p>
        <div>
          <div class="flex flex-row gap-3">
            <div class="use-case-image-column">
              <img src="/images/Firefox_logo.svg" alt="Firefox Logo" class="use-case-image img-fluid" />
            </div>
            <div>
            <h5 class="h5 text-white mb-0">Mozilla Firefox</h5>
            <p class="mb-0">Firefox is a web browser used by hundreds of millions of people every day. Mozilla uses Divvi Up to collect metrics from those users while preserving their privacy. <a href="https://blog.mozilla.org/en/products/firefox/partnership-ohttp-prio/" target="_new">Learn more about Divvi Up & Firefox</a>. </p>
          </div>
        </div>
        <div class="flex flex-row gap-3 mt-4">
            <div class="use-case-image-column">
              <img src="/images/Horizontal-Logo---Long.png" alt="We Are Horizontal Logo" class="use-case-image img-fluid" />
            </div>
            <div>
              <h5 class="h5 text-white mb-0">Horizontal</h5>
              <p class="mb-0">Horizontal uses Divvi Up to collect telemetry in their sensitive applications at the intersection of technology, human rights, and justice. <a href="https://divviup.org/blog/horizontal/" target="_new">Learn more about Horizontal & Divvi Up</a>. </p>
            </div>
          </div>
        </div>

        <h4 class="h4 mt-5 mb-0 text-white">Federated Machine Learning</h4>
        <p>
          Federated Learning is an emerging field of AI/ML and Divvi Up can help preserve user’s data privacy when applications train their models.
        </p>

        <div class="flex flex-row gap-3">
          <div class="use-case-image-column">
            <img src="/images/Flower-logo.png" alt="Flower Logo" class="use-case-image img-fluid" />
          </div>
          <div>
            <h5 class="h5 text-white mb-0">Flower Divvi Up Integration</h5>
            <p class="mb-0">Flower is an open source federated machine learning system for organizations to use on data silos and mobile applications. A team of researchers sponsored by NLNet have built a prototype integrating Flower with Divvi Up's distributed secure aggregation system.  <a href="https://github.com/dpsa4fl/dpsa4flower" target="_new">Learn more about Flower & Divvi Up</a>. </p>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
