<section id="home-hero" class="position-relative mb-5 pb-1 pt-6 pb-3 pt-sm-6">
  <div class="container pr-lg-0 default-padding">
    <div class="row no-gutters">
      <div
        class="col-md-12 align-self-center d-flex justify-content-lg-start justify-content-center mt-xl-n5 pt-lg-6 text-center"
      >
        <div class="pb-3 pt-md-3 pb-md-3">
          <h1 class="text-white display-4 mb-lg-5">
            Get started with Divvi Up for free in under 5 minutes with Docker and a command line.
          </h1>
          <a class="btn btn-primary" href="https://docs.divviup.org/" >Get Started</a >
        </div>
      </div>
    </div>
  </div>
</section>
