<section class="invert-teal-container default-padding py-5 my-5">
  <div class="container">
    <h3 class="h6 mb-2 text-uppercase text-white">
      BUILT UPON AN EMERGING STANDARD
    </h3>
    <h2 class="h1 mb-4 text-white">
      Always Open Source
    </h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <p class="mb-4">
          Every component of Divvi Up is open source and available on GitHub. Further, the core protocol, Distributed Aggregation Protocol (DAP), is on a path to become a Internet Engineering Task Force (IETF) standard co-developed by Internet Security Research Group (ISRG, best known known for Let's Encrypt), Cloudflare, and Mozilla.
        </p>
        <p>
          <a href="https://github.com/divviup">https://github.com/divviup</a> <br />
          <a href="https://datatracker.ietf.org/doc/draft-ietf-ppm-dap/">https://datatracker.ietf.org/doc/draft-ietf-ppm-dap/</a>
        </p>
      </div>
    </div>
  </div>
</section>








