<section class="pt-lg-3 pb-4 text-white default-padding">
    <div class="container mb-lg-5 mb-4">
      <div class="row">
        <div class="col-sm-8">
          <h2 class="h2 text-white">Contact Our Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            If you have a use case for Divvi Up contact our team to learn more about a paid pilot or pricing on our production environments. </p>
            <a class="btn btn-primary " href="mailto:contact@divviup.org">Contact Us</a>
        </div>
        <div class="col-sm-6 text-end">

        </div>

        </div>
      </div>
    </div>
  </section>
