<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>
    {{ if ne .Title .Site.Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}
  </title>

  <meta name="description" content="{{ .Site.Params.meta_description }}" />
  <meta name="author" content="Internet Security Research Group" />

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
  <meta name="msapplication-TileColor" content="#082659" />
  <meta name="theme-color" content="#082659" />

  <link rel="stylesheet" media="screen" href="/createx-theme/vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="/createx-theme/css/theme.min.css" />
  {{ $style := resources.Get "/sass/main.scss" | css.Sass |
  resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}?v={{ now}}" />
</head>
