<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
    {{ partial "header.html" . }}
      {{ partial "divvi/divvi_home_hero.html" }}
      {{ partial "divvi/divvi_use_cases.html" }}
      {{ partial "divvi/divvi_home-open-source.html" }}
      {{ partial "divvi/divvi_home-contact.html" }}
      {{ partial "divvi/divvi_explanation_numbered.html" }}
      {{ partial "divvi/divvi_home_why_section.html" }}
      <div class="trademarks invert-teal-container pt-5 pb-3">
        <div class=" container default-padding">


        <div class="row no-gutters">
          <div
            class="col-md-12"
          >
          <div class="-3 text-xs">
            <hr style="width: 40px; height:0; border-top:1px solid white;" />
            Docker and the Docker logo are trademarks or registered trademarks of Docker, Inc. in the United States and/or other countries. Docker, Inc. and other parties may also have trademark rights in other terms used herein.
          </div>
        </div>
      </div>
      </div>

  {{ partial "footer.html" . }}
</html>
