<!DOCTYPE html>
<html lang="en" class="tpl-post page__{{ .Permalink | relURL | anchorize }}">
  {{ partial "head.html" . }}
    {{ partial "header.html" . }}
        <main>
            <h1>Contact</h1>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="pb-5">
                            <p> If you have a use case for Divvi Up contact our team to learn more about a paid pilot or pricing on our production environments.</p>
                                    <a class="btn btn-primary " href="mailto:contact@divviup.org">Contact Us</a> </div>
                    </div>
                </div>
            </div>
        </main>
    {{ partial "footer.html" . }}
</html>